<div class="card-columns">
    <div *ngIf='loggedIn' class="p-3 m-3 card bg-light ">
        <div class="card-body">
            <div class="d-flex justify-content-center pt-2">
                <h2>Add News</h2>

            </div>
            <div class="d-flex justify-content-center pt-0">
                <button class="glyphicon glyphicon-plus-sign btn" style='font-size:48px;color:rgb(85, 81, 81)'
                    [routerLink]="['/news/add']"></button>

            </div>

        </div>
    </div>
    <div *ngFor="let news of newsDetails" class="card p-3 m-3">
        <img class="card-img-top" src="{{news.image_url}}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{news.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{news.description}}</h6>
            <p class="card-text">
                {{news.summary}}
            </p>
            <button class="btn btn-dark" [routerLink]="['/news/details',news.id]">Get
                Details</button>
        </div>
    </div>

    <div *ngIf='loaddingData' class="loading">
        Loading&#8230;
    </div>

</div>