<div class="container row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8 h-100 d-flex">
        <div class="align-self-center">
            <h3 class="text-dark font-weight-light mb-4">Login</h3>

            <form class="form-group" method="post" action="save">
                <input class="form-control" path="username" required="true" placeholder="username" /><br>
                <input class="form-control" path="password" type="password" required="true"
                    placeholder="password" /><br>
                <input class="btn btn-dark" type="submit" value="Login" />
            </form>


        </div>
    </div>
</div>