<nav class="nav row nav-pills nav-justified">

    <div class='col-sm-2 nav-item pt-4 font-weight-bold m-2' style="font-size: 20px;">{{title}}</div>
    <div class='nav-item col-sm-8 pt-4'></div>
    <div class="nav-item pt-4 col-sm-2 log-btn" style="font-size: 20px;">
        <div *ngIf='!validUser; else elseBlock'>
            <button class="btn btn-dark" [routerLink]="['/login']">Login</button>
        </div>

        <ng-template #elseBlock>
            <button class="btn btn-dark" (click)="logout()">Logout</button>
        </ng-template>
    </div>
</nav>